.header__lang-link{
  width: 30px;
  min-height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  
}
.header__lang-link:first-of-type{
  text-decoration-line: underline;
  margin-right: 18px;
}
@media (max-width: 320px){
  .header__lang-link {
    width: 22px;
    max-height: 20px;
    min-height: 20px;
    font-size: 18px;
    line-height: 1.11;
  }
}