.place__title{
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 100%;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  grid-area: place__title;
  text-align: start;
}
@media (max-width: 768px){
  .place__title{
    max-width: 97%;
    font-size: 42px;
    margin-bottom: 50px;
  }
}
@media (max-width: 450px){
  .place__title{
    font-size: 38px;
  }
}
@media (max-width: 320px){
  .place__title{
    margin: 0;
    font-size: 32px;
    line-height: 1.09;
    margin-left: 5%;
    max-width: 90%;
  }
}