.places{
  margin: 7.19% auto 0 auto;
  max-width: 76.875%;
}
@media (max-width: 1024px){
  .places{
    max-width: 90.6%;
    margin: 0 4.69% 0 calc(4.69% - 1px);
    padding: 0;
  }
}
@media (max-width: 768px){
  .places{
    max-width: 93.75%;
    margin: 0 3.125% 0 3.125%;
  }
}
@media (max-width: 320px){
  .places{
    max-width: 100%;
    margin: 0;
  }
}