.footer__menu {
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type:none;
  
}
@media (max-width: 768px){
  .footer__menu{
    max-width: calc(93.75% - 25.8%);
  }
}
@media (max-width: 650px){
  .footer__menu{
    display: inline;
    overflow-wrap: break-word;
  }
}
@media (max-width: 320px){
  .footer__menu{
    flex-direction: column;
    max-width: 100%;
    align-content: space-between;
    justify-content: space-between;
  }
}
