.lead__title{
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  max-width: 720px;
  margin-top: 0;
  margin-bottom: 3.252%;
  margin-left: 1px;
  overflow-wrap: break-word;
}
@media (max-width: 1024px){
  .lead__title{
    margin-bottom: 3.45%;
 }
}
@media (max-width: 768px){
  .lead__title{
    margin-bottom: 4.17%;
    max-width: 93.75%;
  }
}
@media (max-width: 730px){
  .lead__title{
    font-size: 70px;
  }
}
@media (max-width: 600px){
  .lead__title{
    font-size: 65px;
  }
}
@media (max-width: 500px){
  .lead__title{
    font-size: 52px;
  }
}
@media (max-width: 400px){
  .lead__title{
    font-size: 42px;
  }
}
@media (max-width: 320px){
  .lead__title{
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
    margin-bottom: 5.55%;
    margin-left: 0;
  }
}
@media (max-width: 287px){
  .lead__title{
    max-width: 100%;
  }
}