.place__paragraph{
  font-size: 18px;
  line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  margin-top: 26px;
  text-align: left;
}
.place__paragraph:nth-of-type(1){
  margin-top: 0;
}

@media (max-width: 1024px){
  .place__paragraph{
    margin-top: 27px;
  }
}
@media (max-width: 768px){
  .place__paragraph{
    font-size: 16px;
    line-height: 1.6;
    margin-top: 25px;
    word-break:break-word;
  }
}


