.footer__copyright{
  font-size: 14px;
  margin: 0;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 1px;
  max-width: 186px;
}
@media (max-width: 1024px){
  .footer__copyright{
    max-width: 20.04%;
  }
}
@media (max-width: 768px){
  .footer__copyright{
    max-width: 25.8%;
  }
}
@media (max-width: 320px){
  .footer__copyright{
    margin-top: 48px;
    max-width: 100%;
  }
}