.lead__image{
  max-width: 100%;
  min-height: 615px;
  margin: 0;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1024px){
  .lead__image{
    min-height: 580px;
    }
}
@media (max-width: 768px){
  .lead__image{
    min-height: 480px;
    }
}
@media (max-width: 320px){
  .lead__image{
    min-height: 200px;
    }
}