.intro__text{
  margin: 0 0 4.78% 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.63;
}
@media (max-width: 768px){
  .intro__text{
    margin-bottom: 4.58%;
  }
}
@media (max-width: 320px){
  .intro__text{
    margin-bottom: 11.8%;
  }
}