.website{
  width: 100%;
  display: flex;
  flex-direction:column;
  grid-area: place__website;
  align-self: end;
  margin: 0 0 48px 0;
  text-decoration-line: none;
}
@media (max-width: 320px){
  .website{
    margin-bottom: 7px;
    margin-left: 5%;
    width: 90%;
  }
}
