.cover{
  max-width: 92.5%;
  min-height: 57.8%;
  margin-top: 7.19%;
  margin-left: 3.75%;
  margin-bottom: 0;
  margin-right: 3.75%;
  background-color: #2a2c2f;
  color: #fff;
  box-sizing: border-box;
}
@media (max-width: 1024px){
  .cover{
    max-width: 100%;
    min-height: 57.8%;
    margin: calc(8.98% - 1px) 0 0 0;
  }
}
@media (max-width: 768px){
  .cover{
    min-height: 62.5%;
    margin: 95px 0 0 0;
  }
}
@media (max-width: 320px){
  .cover{
    margin: calc(18.44% - 13px) 0 0 1.7px;
  }
}