.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  margin: 0 0 2.7% 0;
  max-width: 560px;
  word-break:break-word;
}
@media (max-width: 1024px){
  .cover__title{
    margin: 0 0 3.1% 0;
  }
}
@media (max-width: 768px){
  .cover__title{
    margin: 0 0 4.17% 0;
  }
}
@media (max-width: 600px){
  .cover__title{
    max-width: 100%;
    font-size: 60px;
  }
}
@media (max-width: 400px){
  .cover__title{
    font-size: 40px;
  }
}
@media (max-width: 350px){
  .cover__title{
    font-size: 35px;
  }
}
@media (max-width: 320px){
  .cover__title{
    font-size: 32px;
    line-height: 1.09;
    margin: 33px 0 5% 0;
    max-width: 288px;
  }
}
@media (max-width: 287px){
  .cover__title{
    max-width: 100%;
  }
}